{
    "trailingComma": "es5",
    "useTabs": true,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "arrowParens": "avoid",
    "printWidth": 120,
    "bracketSpacing": true
  }
  