[Desktop Entry]
Name=quadrix
Exec=quadrix %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
StartupWMClass=quadrix
Comment=Minimal, simple, multi-platform chat app for the Matrix protocol
Categories=Internet;
